body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/images/soda.jpeg);
    background-position: 50%;
 }
 
.menu-principal {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 9px 5%;
    background-color: #f0fc98ed;
    z-index: 10;
}

.menu-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.menu-links a {
    color: rgb(110, 14, 165);
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-links a:hover {
    background-color: rgb(180, 128, 243);
    color: #ffffff;
}
 #contenedor{
     margin: 40px auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     border-radius: 10px;
     width: 100%;
     max-width: 500px;
     padding: 20px;
     
 
 }
 img{
     width: 100px;
     margin-bottom: 10px;
 }
 h1 {
     text-align: center;
     font-size: 2.2rem;
     color: #3437db;
     margin-bottom: 10px;
 }
 
 input {
     width: 60%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #bdc3c7;
     border-radius: 5px;
     font-size: 1rem;
     
 }
 button {
     background-color: #3437db;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size: 1.1rem;
     border-radius: 5px;
     cursor: pointer;
 }
 button:hover {
     background-color: #6c29b9;
 }
 p{
     font-size: 0.95rem;
     color: #7b7589;
     text-align: center;
     margin-bottom: 30px;
 }
 #olvidar {
     color: #3934db;
     cursor: pointer;
 } 
 .inicioSesion {
    display: flex;
    width: 80%;
     margin-bottom: 20px;
     flex-direction: column;
     align-items: center;
 }
 #formulario{
     background-color:#c8b6fa;
     border-radius: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;
     border:3px solid #5053fa;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
 }
 label{
    flex-direction: column;
     color:  #363537;
     
 }
 
