body {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url(../images/soda.jpeg);
   background-position: 50%;
}
.menu-principal {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 9px 5%;
    background-color: #4a9feec0;
  
}

.menu-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.menu-links a {
    color: rgb(110, 14, 165);
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-links a:hover {
    background-color: rgb(180, 128, 243);
    color: #ffffff;
}

#contenedor {
   margin: 40px auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 90%;
   max-width: 1000px;
   padding: 20px;
}

h1 {
   text-align: left;
   font-size: 2.2rem;
   color: #3437db;
   margin-bottom: 5px;
}

#formulario {
   background-color: #c8b6fa;
   border-radius: 15px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   border: 3px solid #5053fa;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

#formulario input, #formulario select {
   flex: 1;
   min-width: 120px;
   padding: 10px;
   margin-bottom: 0;
   border: 1px solid #bdc3c7;
   border-radius: 5px;
   font-size: 1rem;
   background-color: #ffffff;
}

#guardarProducto {
   background-color: #3437db;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 1.1rem;
   border-radius: 5px;
   cursor: pointer;
}

#guardarProducto:hover {
   background-color: #6c29b9;
}

.tablaProductos input {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    margin-bottom: 10px;
}

.tablaProductos {
    background-color: #c8b6fa;
      border: 3px solid #5053fa;
      border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    font-size: 1rem;
}

th {
    color: #363537;
    font-weight: bold;
}

td {
    color: #4a4a4a;
}

.editar, .eliminar {
    padding: 5px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    margin-right: 5px;
}

.editar {
    background-color: #ffffff;
    color: #363537;
    border: 1px solid #bdc3c7;
}

.eliminar {
    background-color: #ffffff;
    color: #363537;
    border: 1px solid #bdc3c7;
}

.editar:hover,.eliminar:hover {
    background-color: #e2d9fa;
    color: rgb(110, 14, 165);
}
