body {
     box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;

}

#contenedor {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    

}
img{
    width: 100px;
    height: 90px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-size: 2.2rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    background-color: #3437db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
p{
    font-size: 0.95rem;
    color: #7b7589;
    text-align: center;
    margin-bottom: 30px;
}
#olvidar {
    color: #3498db;
    cursor: pointer;
}
#inicioSesion {
    margin-bottom: 20px;
}
#formulario{
    background-color:#c8b6fae0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border:3px solid #3437db;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

