body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(155, 250, 242);

}

#contenedor {
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
